@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@100;200;400;500;700;900&display=swap');

:root {
    --background: #1c1e26;
    --light: #fff;
    --other-light: #dcdcdc;
    --purple: #8b5cf6;
    --red: #ff4136;
    --blue: #357edd;
    --gray: #808080;
    --black: #555555;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--background);
    color: var(--light);
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #21232d;
    padding: 0 30px 0 18px;
    -webkit-box-shadow: 0 6px 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 10px 5px rgba(0, 0, 0, 0.2);
}

.header-left {
    display: flex;
}

.header-menu {
    cursor: pointer;
    padding: 11px 10px 15px 15px;
}

.header-menu:hover {
    background: #FFFFFF33;
}

.header-home {
    cursor: pointer;
    padding: 11px 10px 15px 15px;
}

.header-home a {
    color: var(--light);
}

.header-home:hover {
    background: #FFFFFF33;
}

.header-right {
    display: flex;
}

.header-plus-add {
    cursor: pointer;
    padding: 11px 10px 15px 15px;
}

.header-plus-add:hover {
    background: #FFFFFF33;
}

.header-user {
    cursor: pointer;
    padding: 11px 10px 15px 15px;
}

.header-user:hover {
    background: #FFFFFF33;
}

.user-settings {
    display: none;
    position: absolute;
    width: 146px;
    background: #21232d;
    color: var(--light);
    margin: 50px 0 0 -62px;
}

.open-user-menu {
    display: block;
}

.user-list {
    list-style-type: none;
    padding: 0;
}

.user-list-item {
    font-size: 14px;
    padding: 10px 0 10px 10px;
}

.user-list-item > a {
    text-decoration: none;
    color: var(--light);
}

.user-list-item:hover {
    background: #FFFFFF33;
    cursor: pointer;
    padding: 10px;
}

.search {
    position: absolute;
    margin: 10px 0 0 120px;
}

.search input {
    width: 162px;
    background: #1C1E26FF;
    border: none;
    outline: none;
    border-radius: 5%;
    padding: 5px 40px;
    color: var(--light);
}

.search input::placeholder {
    color: var(--purple);
    font-size: 14px;
}

.search-input-icon i {
    position: absolute;
}

.icon {
    padding: 16px 0 0 5px;
    font-size: 27px;
}


/* End Header */

/* Sidebar */
.sidebar {
    position: fixed;
    width: 260px;
    height: 100%;
    background-color: #21232d;
    -webkit-box-shadow: 10px 0 13px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 10px 0 13px 0 rgba(0, 0, 0, 0.2);
}

.close-sidebar {
    left: -260px;
    transition: 0.5s;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.material-symbols-outlined {
    vertical-align: middle;
    line-height: 1px;
    margin-right: 5px;
}

.sidebar-list-item {
    font-size: 14px;
    padding: 20px 20px 20px 30px;
}

.sidebar-list-item > a {
    text-decoration: none;
    color: var(--light);
}

.sidebar-list-item:hover {
    background-color: #FFFFFF33;
    cursor: pointer;
}

/* End Sidebar */

/* Main */
main {
    flex: 1 1 0%;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    margin: 50px 20px 0 270px;
}

.offset-task-list {
    margin: 50px 20px 0 20px;
}

.task-list h1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid var(--gray);
}

.simple-info {
    font-size: 20px;
    font-weight: 700;
}

.task-list > h1 > small {
    font-size: 12px;
    font-weight: 200;
    padding: 8px;
}

.call-task-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 50px 0;
}

.call-task-form i {
    font-size: 14px;
    background: var(--red);
    color: var(--light);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 7px 0 0 0;
}

.call-task-form > span {
    margin: 0 0 0 5px;
    font-size: 13px;
}

.call-task-form > span:hover {
    cursor: pointer;
    color: var(--red);
}

#task-form {
    margin-top: -67px;
    margin-bottom: 50px;
}

#task-form-input {
    width: 700px;
    border: none;
    outline: none;
    appearance: none;
    background: #1C1E26FF;
    color: var(--light);
    border-bottom: 1px solid var(--light);
    padding: 0 3px 0 0;
    font-size: 20px;
}

#task-form-input::placeholder {
    color: var(--purple);
}

.show-task-form {
    display: block;
}

.hidden-task-form {
    display: none;
}

.open-task-form {
    display: block;
}

.btn {
    display: inline-block;
    border: none;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
}

.action-submit {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.cancel-task {
    background: var(--black);
    color: var(--other-light);
    margin-right: 5px;
}

.cancel-task:hover {
    color: var(--light);
}

.add-task {
    background: var(--red);
    color: var(--light);
    opacity: 0.3;
}

.add-task:hover {
    opacity: 1;
}

.task {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.task .content {
    flex: 1 1 0%;
}

.task .content .text {
    width: 100%;
    /*display: block;*/
}

.text {
    border: none;
    outline: none;
    background-color: #404352;
    color: var(--light);
    padding: 16px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.action-button {
    display: flex;
    background: #404352;
    padding-right: 10px;
    border-radius: 10px;
}

.edit {
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    background: #404352;
    color: var(--gray);
}

.delete {
    border: none;
    outline: none;
    cursor: pointer;
    background: #404352;
    color: var(--gray);
}

.edit:hover {
    color: var(--light);
}

.delete:hover {
    color: var(--light);
}

/* End Main */

/* Media Queries */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
    .sidebar {
        display: none;
    }

    .open-sidebar {
        display: block;
    }

    .task-list {
        margin: 50px 20px 0 20px;
    }
}

/* Media Queries */

.fade-out {
    display: none;
}